<div class="add-friend">

  <h2>Add a friend</h2>

  <div class="form">
    <input type="text" id="name" placeholder="Name"/>
    <input type="text" id="area" placeholder="Select timezone in the map" />
  </div>

  <button id="add" type="button" name="button">+</button>

</div>
